.chats .chats__list {
    border-top: 1px solid #ebebed;
    border-bottom: 1px solid #ebebed;
}

.chats__list .chats__chat {
    padding: 15px;
    border-bottom: 1px solid #ebebed;
}

.chats__list .chats__chat:last-child {
    border: none;
}

.chats__chat .chat__content img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.chats__list .chats__chat a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.chats__chat .chat__content {
    display: flex;
    align-items: flex-start;
}

.chat__preview .chat__user {
    font-weight: 600;
    margin-bottom: 5px;
}

.chat__preview .chat__last-message {
    color: gainsboro;
    font-size: 11px;
}

.chats__chat .chat__date-time {
    font-size: 10px;
    color: gainsboro;
}

.chat-btn {
    width: 60px;
    height: 60px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 80px;
    font-size: 20px;
    color: rgb(161, 59, 59);
    box-shadow: 0px 3 10px rgba(0, 0, 0, 2);
    /* 좌우 하단 블러 색깔*/
    transition: color .3s, background-color .3s, transform .5s ease-in-out;
    /*  모든 것에 적용하고싶을때는
    transition all .3s ease-in-out
    이 경우에는 새로 고침시에 설정하지 않은 값들도 변경되어 보임
    */
}

.chat-btn:hover {
    color: blue;
    background-color: aqua;
    transform: rotateY(1turn);
}