.tab-bar {
    background-color: gainsboro;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 5px 30px;
    border-top: 1px solid gray;
}

.tab-bar .tab-bar__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    /* underline μλ―Έν•¨*/
    color: grey;
}

/* i means "i" object*/
.tab-bar .tab-bar__tab i {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
}

.tab-bar .tab-bar__title {
    font-size: 10px;
}

.tab-bar .tab-bar__tab--selected {
    color: brown;
}